@import url(/assets/menulogo.scss);
@import url(/assets/mainContent.css);
@import url(/assets/mid.scss);
@import url(/assets/font.scss);
@import url(/assets/create.scss);

.setting{
    display: flex;
    flex-direction: row;
    
    max-width: 100%;
    
}